<h1> About me </h1>
<p> My name is Grace but you can call me Tunmise </p>
<%= link_to "home", root_path %>

<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lightgray;}
h1   {color: blue;}
p    {color: red;}
table, th, td {
  border: 1px solid black;
}
</style>
<title>Page Title</title>
</head>
<body style="background-image:url('clouds.jpg');">

<h1 style= "color: green">Tunmise -<i> The reinvention</i></h1>
<h2> Just a little introduction</h2>
<p title = "Intro" style = "color: purple">My name is Owolabi Grace Oreoluwa Oluwatunmise.
 The first question you might have is why i have so many names. 
My reply to you is that i actually have 20 names, so dont complain since you are only seeing four of them.
By the way, I do not know the 20 names, even my mom doesnt know the 20 names, she is just aware of the fact that i was named 20 names.
I heard from my grandmother , some interesting theories of my names thou. s
Anyways, more interesting name stories to come.
</p>
<hr>
<p> <b> For everyone's information, I am "Nigerian". I will come back to this. Anyways i did a project for my english class on Civil rights on Africa and tadddaaaaa. I am sharing it with you guys.</b> </p>
<a href = "https://spark.adobe.com/page/isivCWCS3AaVH/" > This is the link to the project. Enjoy!!</a>
<br> </br>
<img src = "w3schools.jpg" alt = "W3Schools.com" width = "104" height = "142">
<br> </br>
<button> Well you can try to click me </button> <!-- I am going to insert my image here -->
<ul type="1">
	<li style = "font-size: 112%"> My favorite things to do in the world </li>
	<li> Hang out with friends and Family and everyone is cool and no awkward moment </li>
	<li> Watch dramas, I am a fan of Korean and Chinese Dramas </li>
	<li> I STAN KIM JAE WOOK </li>
	<img src = "w3schools.jpg" alt = "W3Schools.com" width = "104" height = "142"> <!--kim jea wooks picture here -->
	<li> I also love indulging in the ingestion of sweet particles</li>
</ul>

<pre style ="color: coral" style = "background-color: blue;" > <i>
	So, i write poems 

		About how i feel.
				
				Maybe i will share someday.
<img src="img_girl.jpg" alt="Girl in a jacket">
</i></pre>
<p> My friends </p>
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Birthday</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Prudence</td>
    <td>Phillips</td>
    <th>June 9th </th> 
    <td>18</td>
  </tr>
  <tr>
    <td>Faith</td>
    <td>Adegbenro</td> 
    <th>September</th>
    <td>18</td>
  </tr>
<tr>
    <td>Olaide</td>
    <td>Afolabi</td> 
    <th>idk</th>
    <td>20</td>
  </tr>
</table>
<dl>
  <dt>Coffee</dt>
  <dd>- black hot drink</dd>
  <dt>Milk</dt>
  <dd>- white cold drink</dd>
</dl>
<!DOCTYPE html>
<html>
<head>
<style>
.cities {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
} 
</style>
</head>
<body>

<div class="cities">
  <h2>London</h2>
  <p>London is the capital of England.</p>
</div>

<div class="cities">
  <h2>Paris</h2>
  <p>Paris is the capital of France.</p>
</div>

<div class="cities">
  <h2>Tokyo</h2>
  <p>Tokyo is the capital of Japan.</p>
</div>

</body>
</html>
<address>
Written by Grace Owolabi. <br>
My email address is gowolabi2@gmail.com
</address>

</body>
</html>
