<style>
  body {background-color: LightPink;}
  pre {background-color: LightPink;  border:3px solid red;}
</style>
<div class = "jumbotron">
  <h1> ALPHABLOG</h1>
  
</div>
<pre> <i> 
    annyeonghaseyo!!!
    Welcome to my blog!!
    Hope you have fun learning about me 
    As i hope to learn about you.
  </i></pre> 
  <%= link_to "Alpha_Blog", articles_path %> | <%= link_to "about", about_path %>
  <%= link_to "Sign up now" , signup_path, class: "btn btn-primary btn-md" %>