<div class="container">
    <footer class="footer">
        <small>
            Copyrights &copy <a href = # > This totally belongs to Grace Owolabi</a>
        </small>
    </footer>
</div>
<nav>
    <ul> 
        <li><%= link_to "About", about_path %></li>
    </ul>
</nav>